

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

*{
  border: 1px solid #778990;
}

.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

.nomargin {
  margin-left: 0px;
  margin-right: 0px;
}

.ls_nav_logo {
  height: 84px;
}

.ls_nav_logo_image {
  display: inline-block;
  float: left;
}

.ls_nav_logo_image img {
  width: 50px;
  height: auto;
  padding-top: 10px;
}

.ls_nav_logo_slogan {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

.ls_nav_logo_slogan i {
  font-size: 20px;
  line-height: 40px;
}



.ls_nav_logo_slogan h1 {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 400;
}

.ls_nav_logo_slogan h2 {
  font-size: 14px;
  margin-top: 3px;
}

.ls_screen_content {
  height: calc(100vh - 84px);
}

.ls_screen_content_left {
  position: relative;
  height: 100%;
}

.ls_screen_content_left_big_logo {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.ls_screen_content_left_big_logo img {
  width: 70%;
  margin-top: 20px;
}

.ls_screen_content_left_big_logo h3 {
  font-weight: 300;
  font-size: 50px;
  color: #222;
}

.ls_screen_content_left_big_logo h4 {
  font-weight: 300;
  font-size: 30px;
  color: #222;
  margin-top: 0px;
}

.ls_screen_content_right {
  position: relative;
  height: 100%;
}

.ls_login_box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}


.ls_login_box_form {
}

.ls_login_box_heading h5 {
  font-weight: 300;
  font-size: 30px;
  color: #222;
}

.ls_login_box_heading h6 {
  font-weight: 300;
  font-size: 24px;
  color: #222;
  margin-top: 0px;
}

.ls_login_box_form {
  margin-top: 40px;
}

.ls_login_box_form .form-control {
  border-radius: 0px;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 30px;
}

.admin-login label {
  font-size: 14px;
  font-weight: 500;
  padding-top: 7px;
  padding-left: 12px;
  color: #e1045f;
}

.ls_login_box_form .btn {
  border-radius: 18px;
  padding: 6px 30px;
  background: -webkit-gradient(linear, left top, right top, from(#97006e) , color-stop(#fd075a), to(#ff8a00));
  background: -webkit-linear-gradient(left, #97006e , #fd075a, #ff8a00);
  background: -o-linear-gradient(left, #97006e , #fd075a, #ff8a00);
  background: linear-gradient(to right, #97006e , #fd075a, #ff8a00);
  -webkit-box-shadow: 0px 2px 5px #444;
          box-shadow: 0px 2px 5px #444;
}

.ls_login_box_form .btn-default {
  color: #fff;
  border: 0px;
}

.ls_unable_to_login {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 600px) {
  .ls_login_box {
    width: 80%;
  }
  .ls_login_box_heading h5 {
    font-size: 28px
  }
  .ls_login_box_heading h6 {
    font-size: 22px
  }
}

@media screen and (max-width: 500px) {
  .ls_login_box {
    width: 90%;
  }
  .ls_login_box_heading h5 {
    font-size: 26px
  }
  .ls_login_box_heading h6 {
    font-size: 20px
  }
}

@media screen and (max-width: 400px) {
  .ls_login_box {
    width: 100%;
  }
  .ls_login_box_heading h5 {
    font-size: 24px
  }
  .ls_login_box_heading h6 {
    font-size: 18px
  }
}

@media screen and (max-height: 600px) {
  .ls_login_box {
    top: 47%;
  }
}

/*---- table.html starts from here --*/

.dashboard {
  background-color: #f7f7f7;
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid #efefef;
  height: 100%;
  width: 20%;
  float: left;
}



.sidebar_logo {
  height: 80px;
  border-bottom: 1px solid #efefef;
}

.company_logo {
  position: absolute;
  display: inline-block;
  float: left;
  width: 53px;
  height: auto;
  padding-left: 15px;
  padding-top: 12px;
}

.company_logo img {
  width: 30px;
  height: auto;
}

.sidebar_logo .company_name {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-left: 64px;
  font-weight: 300;
  color: #8c8c8c;
}

.sidebar_logo .company_slogan {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 64px;
  color: #8c8c8c;
}

.dashboard_navigation_main_ul {
  margin-bottom: 0px;
}

.dashboard_navigation_main_li a {
  height: 50px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
}


.dashboard_navigation_main_icon {
  font-size: 18px;
  color: #8c8c8c;
  line-height: 50px;
  padding-left: 20px;
}


.dashboard_navigation_main_name {
  color: #8c8c8c;
  line-height: 50px;
  padding-left: 10px;
}




.dashboard_navigation_dropdown_icon {
  float: right;
  line-height: 50px;
  font-size: 11px;
  color: #8c8c8c;
  margin-right: 20px;
}

.dashboard_navigation_dropdown_icon {
  display: none;
}

/*--*/

.dashboard_navigation_sub_li a {
  height: 50px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
}


.dashboard_navigation_sub_li {

}



.dashboard_navigation_sub_icon {
  font-size: 18px;
  color: #8c8c8c;
  line-height: 50px;
  padding-left: 40px;
}


.dashboard_navigation_sub_name {
  color: #8c8c8c;
  line-height: 50px;
  padding-left: 10px;
}


/*-- dashboard_top_bar starts from here --*/

.dashboard_top_bar {
  width: 80%;
  height: 80px;
  background-color: #fff;
  float: right;
  border-bottom: 1px solid #efefef;
}


.sidebar_push_button_container, .top_bar_search {
  display: inline-block;
}

.sidebar_push_button {
  margin-top: 21px;
  background-color: transparent;
  margin-left: 10px;
  border: 1px solid #efefef;
}

.dashboard_push_button_icon {
  font-size: 12px;
  color: #8c8c8c;
  line-height: 30px;
  padding: 0px 4px;
}

.top_bar_search {
  margin-left: 40px;
  border-bottom: 1px solid #efefef;
}

.top_bar_search input[type=search] {
  border: 0px;
  width: 300px;
  padding: 10px;
}

.top_bar_search input[type=search]:focus {
  outline-width: 0;
}

.top_bar_search_button {
  padding: 5px;
  border: 0px;
  border-radius: 20px;
  background-color: #fff;
  color: #8c8c8c;
}

.top_bar_search_button:focus {
  outline-width: 0;
}

.top_bar_search_button_icon {
  padding: 3px 10px;
}

.dashboard_top_bar_right {
  float: right;
  height: 80px;
}

.dashboard_top_bar_right {
  padding-right: 15px;
  line-height: 80px;
}

.dashboard_top_bar_right ul > li {
  display: inline-block;
  margin-right: 40px;
}

.dashboard_top_bar_right ul > li > a{
  display: block;
  padding: 0px 10px;
  text-decoration: none;
}

.dashboard_notification_icon {
}

.dashboard_notification_icon i, .dashboard_message_icon i {
  font-size: 18px;
  color: #8c8c8c;
}

.dashboard_notifcation_count_badge, .dashboard_message_count_badge {
  background-color: #ff005e;
  color: #fff;
  padding: 1px 6px;
  border-radius: 14px;
  position: absolute;
  line-height: 18px;
  margin-top: -70px;
  margin-left: 16px;
}

.dashboard_user img {
  width: 20px;
  height: auto;
}

.dashboard_notification_ul, .dashboard_message_ul {
  position: absolute;
  background-color: #fff;
  width: 400px;
  right: 30px;
  line-height: 24px;
}

.dashboard_notification_ul, .dashboard_message_ul, .dashboard_user_ul {
  -webkit-box-shadow: 0px 5px 5px #efefef;
          box-shadow: 0px 5px 5px #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.dashboard_notification_image, .dashboard_message_image {
  float: left;
}

.dashboard_notification_content, .dashboard_message_content {
  display: block;
}

.dashboard_notification_tag, .dashboard_message_tag {
  padding: 14px;
  display: block;
  border-bottom: 1px solid #efefef;
  padding-left: 52px;
}

.dashboard_notification_li, .dashboard_message_li {
  border-bottom: 1px solid #efefef;
  margin-right: 0px!important;
  width: 100%;
}

.dashboard_notification_ul li a, .dashboard_message_ul li a {
  display: block!important;
  padding: 12px!important;
}

.dashboard_notification_ul li a:hover {
  display: block!important;
  padding: 12px!important;
  background-color: #efefef;
}

.dashboard_message_ul li a:hover {
  display: block!important;
  padding: 12px!important;
  background-color: #efefef;
}

.notification_readed, .message_readed {
  background-color: #f5f5f5;
}

.dashboard_notification_image i, .dashboard_message_image i {
  font-size: 20px;
  color: #f73987;
}

.dashboard_notification_heading, .dashboard_message_heading{
  margin-left: 20px;
  color: #666;
  font-weight: 600;
  font-size: 13px;
}

.dashboard_notification_content, .dashboard_message_content {
  margin-left: 42px;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: #666;
  font-size: 13px;
}

.see_all_notification, .see_all_message {
  padding: 12px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #666;
  padding-left: 54px;
}

.dashboard_user_ul {
  position: absolute;
  background-color: #fff;
  width: 250px;
  right: 0px;
  line-height: 24px;
}

.dashboard_user_li {
  display: block !important;
  margin-right: 0px!important;
}

.dashboard_user_li a {
  display: block;
  padding: 10px!important;
  border-bottom: 1px solid #efefef;
  color: #666;
}

.dashboard_user_li a:hover {
  background-color: #efefef;
}

.dashboard_user_heading {
  margin-left: 20px;
}

.dashboard_user_image i {
  color: #f73987;
}

/*---- Media query --*/
@media only screen and (max-width: 992px) {

.sidebar {
  width: 100px;
}

.sidebar_logo {
  text-align: center;
}


.company_logo {
  position: relative;
  float: none;
  width: 42px;
  padding-top: 9px;
  padding-left: 0px;
}

.company_logo img {
  width: 30px;
  height: auto;
}

.sidebar_logo .company_name {
  display: none;
}

.sidebar_logo .company_slogan {
  display: none;
}


.dashboard_navigation_main_li a {
  height: 80px;
}

.dashboard_navigation_main_icon {
  font-size: 18px;
  color: #8c8c8c;
  line-height: 0px;
  display: inline-block;
  border: 1px solid #9e9e9e;
  margin-left: 29px;
  padding: 10px;
  border-radius: 7px;
  margin-top: 10px;
}

.dashboard_navigation_main_name {
  color: #8c8c8c;
  line-height: 29px;
  padding-left: 30px;
  display: inline-block;
}

.dashboard_navigation_sub_ul {
  margin-left: 100px;
  width: 250px;
  position: absolute;
  margin-top: -80px;
  background-color: #fff;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  display : none;
}

.dashboard_navigation_sub_li a {
  height: 50px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
}

.dashboard_top_bar {
  width: calc(100% - 100px);
}

.top_bar_search input[type=search] {
  width: 200px;
}

.dashboard_top_bar_right {
  padding-right: 5px;
}

.dashboard_top_bar_right ul > li {
  display: inline-block;
  margin-right: 20px;
}
}
/*--- Media query end here --*/

.dashboard_content {
  float: right;
  height: 200px;
  width: 80%;
}
