:root {
    --sidebar_font_color: #8c8c8c;
}

#div1 {
    background-color: var(--main-bg-color);
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

.nomargin {
  margin-left: 0px;
  margin-right: 0px;
}

.dashboard {
  background-color: #fff;
}

.dashboard_container_row {
  background-color: #f0f1e3;
}

.sidebar {
  height: 100%;
  min-height: 100vh;
  background-color: #191f28;
}

.sidebar_logo {
  height: 100px;
}

.sidebar_logo img {
  width: 36px;
  height: auto;
  float: left;
  margin-left: 10px;
  margin-top: 28px;
}

.sidebar_logo h1 {
  font-size: 20px;
  margin: 0px;
  font-weight: 300;
  padding-top: 30px;
  padding-left: 5px;
  display: inline-block;
  color: var(--sidebar_font_color);
}

.sidebar_logo h2 {
  font-size: 14px;
  margin: 0px;
  padding-left: 5px;
  display: inline-block;
  color: var(--sidebar_font_color);
}

.sidebar_container hr {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #262c35;
  width: 90%;
}

.sidebar_nav_main_li {
  display: block;
}

.sidebar_nav_main_li ul {
  display: none;
}

.sidebar_nav_main_li a {
  display: block;
  height: 60px;
  color: var(--sidebar_font_color);
  text-decoration: none;
}

.sidebar_nav_main_li a:hover {
  background-color: #15191f;
}


/*.sidebar_nav_main_icon, .sidebar_nav_main_name, .sidebar_nav_dropdown_icon {
  display: inline-block;
}*/

.sidebar_nav_main_li a span {
  display: inline-block;
  line-height: 60px;
  text-decoration: none;
  color: var(--main-bg-color);
}

.sidebar_nav_main_icon {
  padding-left: 20px;
  font-size: 18px;
  color: var(--main-bg-color);
}

.sidebar_nav_main_icon i {
}

.sidebar_nav_main_name {
  padding-left: 15px;
}

.sidebar_nav_dropdown_icon {
  float: right;
  font-size: 10px;
  padding-right: 15px;
}

.sidebar_nav_sub_ul {
  background-color: #1c242f;
}

.sidebar_nav_sub_icon {
  padding-left: 40px;
  font-size: 18px;
}

.sidebar_nav_sub_name {
  padding-left: 15px;
}



@media only screen and (max-width: 992px) {

  .sidebar_logo {
    text-align: center;
    border-right: 0px;
  }

  .sidebar_logo h1 {
    display: none;
  }

  .sidebar_logo h2 {
    display: none;
  }

  .sidebar_logo img {
    display: inline-block;
    float: none;
    margin-top: 24px;
    margin-left: 0px;
  }

  .sidebar_container hr {
    margin-bottom: 0px;
  }

  .sidebar_nav_main_ul {
    text-align: center;
  }

  .sidebar_nav_main_li a {
    height: 80px;
  }

  .sidebar_nav_main_li a span {
    display: block;
    line-height: 0px;
  }

  .sidebar_nav_main_icon {
    padding-left: 0px;
    padding-top: 24px;
  }

  .sidebar_nav_main_icon i {
    border: 1px solid #8c8c8c;
    padding: 5px;
    border-radius: 7px;
  }

  .sidebar_nav_main_name {
    padding-left: 0px;
    line-height: 0px!important;
    padding-top: 20px;
  }

  .sidebar_nav_dropdown_icon {
    display: none !important;
  }

  .sidebar_nav_sub_ul {
    position: absolute;
    width: 220px;
    background-color: #1c242f;
    margin-left: 100%;
    margin-top: -80px;
  }

  .sidebar_nav_sub_li a {
    height: 60px;
  }

  .sidebar_nav_sub_li a span {
    line-height: 60px;
  }

  .sidebar_nav_sub_icon {
    display: inline-block !important;
    line-height: 60px;
    padding-left: 0px;
  }

  .sidebar_nav_sub_name {
    display: inline-block!important;
    line-height: 60px;

  }

  .sidebar_nav_sub_li {
  }
}

/*--- dashboard top bar --*/

.dashboard_top_bar {
  height: 60px;
  background-color: #fff;
}

.sidebar_push_button_container {
  height: 60px;
  display: inline-block;
  width: 54px;
}

.sidebar_push_button_container button {
  display: block;
  background-color: #fff;
  border: 0px;
  padding: 20px;
}

.dashboard_push_button_icon {
}

.search_top_bar {
  margin-left: 20px;
  display: inline-block;
}

.search_top_bar input {
  border-radius: 0px;
}

.search_top_bar button {
  border-radius: 0px;
}

.search_top_bar button i {
  color: #666;
}

@media (max-width: 767px) {
  .search_top_bar .form-inline .form-control {
    display: inline-table;
    width: auto;
    vertical-align: baseline;
  }

  .search_top_bar .input-group-btn {
    display: inline-table;
  }
}

.dashboard_top_bar_right {
  float: right;
}

.dashboard_top_bar_right_main_li {
  display: inline-block;
  height: 60px;
  position: relative;
}

.dashboard_top_bar_right_main_li_active {
  background-color: #e1e2d2;
}

.dashboard_top_bar_right_main_a {
  display: block;
  padding: 19px 20px;
  text-decoration: none;
}

.dashboard_top_bar_right_main_a:hover {
  text-decoration: none;
}

.notification_counter, .message_counter {
  position: absolute;
  right: 11px;
  top: 5px;
  background-color: #f91d83;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}


.dashboard_top_bar_right_main_icon i {
  font-size: 18px;
  color: #989898;
}

.dashboard_notification_ul {
  position: absolute;
  width: 300px;
  left: -100%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px 0px #818276;
}

.dashboard_message_ul {
  position: absolute;
  width: 300px;
  left: -170%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 15px 20px 0px #818276;
}

.dashboard_notification_tag, .dashboard_message_tag {
  display: block;
  background-color: #e1e2d2;
  padding: 10px;
  color: #666;
}

.dashboard_notification_li, .dashboard_message_li {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}

.dashboard_notification_li:hover {
  background-color: #f2f3e8;
}

.dashboard_message_li:hover {
  background-color: #f2f3e8;
}

.dashboard_notification_link, .dashboard_message_link {
  display: block;
  color: #666;
  text-decoration: none;
}

.dashboard_notification_link:hover {
  text-decoration: none;
}

.dashboard_message_link:hover {
  text-decoration: none;
}

.notification_readed, .message_readed {
  background-color: #f2f3e8;
}

.dashboard_notification_image, .dashboard_message_image {
  display: inline-block;
}

.dashboard_notification_image i {
  font-size: 18px;
  color: #f91d83;
}

.dashboard_message_image i {
  font-size: 18px;
  color: #f91d83;
}

.dashboard_notification_heading, .dashboard_message_heading {
  padding-left: 10px;
  font-weight: 600;
  font-size: 13px;
}

.dashboard_notification_content, .dashboard_message_content {
  display: block;
  padding-left: 32px;
  font-size: 13px;
  white-space: nowrap;
  width: 280px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.see_all_notification, .see_all_message {
  display: block;
  background-color: #e1e2d2;
  padding: 10px;
  color: #666;
}

/*----- dashboard vontent starts fromhere --*/

.dashboard_content_container {
  padding: 15px;
}

.dashboard_content {

}

.dashboard_content_main_heading, .dashboard_content_main_sub_heading, .content_box_heading, .content_box_description {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #666;
}

.dashboard_content_main_heading {
  font-size: 16px;
  margin-top: 10px;

}

.dashboard_content_main_sub_heading {
  font-size: 14px;
  margin-top: 4px;
}

.content_box_container {
  background-color: #fff;
  margin-top: 20px;
  color: #666;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 2px #808270;
}

.content_box_heading {
  margin-left: 10px;
  font-size: 16px;
}

.content_box_description {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
}

.responsive_table_box_one {
  padding: 20px;
}

.content_box_container table {
  margin-top: 20px;
}
